---
import type {CollectionEntry} from "astro:content"
import Category from "./Category.astro"

type Props = {
    categories: CollectionEntry<"posts">["data"]["categories"]
}

const {categories} = Astro.props
---

<div class="flex gap-x-4 gap-y-4 flex-wrap items-center">
    <a
        href={`/blog`}
        class="text-teal-900 rounded-3xl uppercase text-xl p-2 border-2 border-teal-900 whitespace-nowrap"
    >
        All Posts
    </a>
    {categories.map(category => <Category category={category} />)}
</div>
